<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">
    <script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <link type="text/css" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.19.1.min.css"
          rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>

<style>
.myDiv {
  color:red;
  font-weight: bold;
  text-align: left;
}
</style>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title}"></title>
</head>
<body>
<div>
<div th:fragment="navbar" style="margin: -1px;">
    <nav class="navbar navbar-expand-lg bg-dark navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img style="height:50px;" src="/images/logo.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse align-items-center">
                <ul class="navbar-nav ml-auto align-items-center" style="margin-right: 50px;">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/registration}" th:if="${#request.userPrincipal == null}"><span class="fas fa-user-plus"></span> Register</a></li>
                    <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" th:href="@{/products}" th:if="${#request.userPrincipal != null}"><span class="fas fa-edit"></span> Add Products</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/login}" th:if="${#request.userPrincipal == null}"><span class="fa fa-user"></span> Login</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/logout}" th:if="${#request.userPrincipal != null}"><span class="glyphicon fas fa-sign-out-alt"></span> Logout</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/cart}"><span class="fas fa-shopping-cart"></span> Cart</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/orders}" th:if="${#request.userPrincipal != null}"><span class="fas fa-list-alt"></span> Orders</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer" class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-center" style="bold">&copy; 2020 SDA Academy - Final Project - JAVA, Spring, Bootstrap, Hibernate, Thymeleaf
                <span th:if="${#request.userPrincipal != null}">| Logged in as: <span th:text="${#request.userPrincipal.name}"></span> |<a th:href="@{/logout}"> Logout</a></span>
            </p>
        </div>
    </div>
</div>

<div th:fragment="orderStepHeader (step)" class="step-line-wrapper">
    <ul>
        <li th:class="${step} == 1 ? 'active' : (${step} > 1 ? 'passed' : null)">
            <span class="circle">1</span>
            <span class="label">Delivery Method</span>
        </li>
        <li th:class="${step} == 2 ? 'active' : (${step} > 2 ? 'passed' : null)">
            <span class="circle">2</span>
            <span class="label">Contact Information</span>
        </li>
        <li th:class="${step} == 3 ? 'active' : (${step} > 3 ? 'passed' : null)">
            <span class="circle">3</span>
            <span class="label">Payment method</span>
        </li>
        <li th:class="${step} == 4 ? 'active' : (${step} > 4 ? 'passed' : null)">
            <span class="circle">4</span>
            <span class="label">Finish</span>
        </li>
    </ul>
</div>

<div th:fragment="cart" class="panel panel-default">
    <div class="panel-body">
        <div class="title" style="font-weight:bold">Cart contents</div>
          <table class="table table-bordered table-responsive-md text-center">
            <thead>
            <tr>
                <th class="text-center"><b>Name</b></th>
                <th class="text-center"><b>Price per piece</b></th>
                <th class="text-center"><b>Quantity</b></th>
                <th class="text-center"><b>Total</b></th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="item : ${@cartContainer.cartItems}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${@cartContainer.getProductTotalPrice(item.product.id)}"></td>
              </tr>

              <tr>
                <td style="font-weight:bold">TOTAL:</td>
                <td></td>
                <td></td>
                <td th:text="${@cartContainer.totalPrice}"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>

<div th:fragment="cartDelivery" class="panel panel-default">
    <div class="panel-body">
        <hr>
        <div class="title" style="font-weight:bold">Method of receiving goods:</div>
        <hr>
        <div class="myDiv" th:if="${@cartContainer.cart.deliveryAddress != null}">Home Delivery To:
            <span th:text="${@cartContainer.cart.deliveryAddress}"></span>
            <div class="myDiv" th:if="${@cartContainer.cart.deliveryAddress == null}">Store Pickup</div>
        </div>
    </div>
</div>
</body>
</html>