<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <link type="text/css" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.19.1.min.css"
          rel="stylesheet" />
    <link rel='stylesheet' id='wsl-widget-css'
          href='https://mdbootstrap.com/wp-content/plugins/wordpress-social-login/assets/css/style.css?ver=5.4.2'
          type='text/css' media='all' />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Perfume Shop</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
</style>
</head>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <br/>
        <div class="container my-3">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="" src="/images/slide.jpg" alt="First Slide" width="1110" height="300">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slide1.jpg" alt="Second Slide" width="1110" height="300">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slide2.jpg" alt="Third Slide" width="1110" height="300">
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="container">
            <!--Beginning Men's Perfume -->
            <div class="card">
                <div class="row">
                    <div class="col-sm-6">
                        <br/>
                        <h2 class="card-header text-left font-weight-bold py-4">Men's Perfume</h2>
                        <table class="table table-bordered text-center" style="border: 1px solid black;">
                            <thead>
                            <tr>
                                <th class="text-center"><b>Name</b></th>
                                <th class="text-center"><b>Price</b></th>
                                <th class="text-center"><b>Add To Cart</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pt-3-half" th:each="product : ${produseBarbati}">
                                <td class="pt-3-half" th:text="${product.name}"></td>
                                <td class="pt-3-half" th:text="${product.price}"></td>
                                <td><a class="btn btn-danger btn-rounded btn-sm my-0" th:href="@{'/cart/add/' + ${product.id}} ">Add
                                    To Cart</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Of Men's Perfume -->

                    <!--Beginning Women's Perfume -->
                    <div class="col-sm-6">
                        <br/>
                        <h2 class="card-header text-left font-weight-bold py-4">Women's Perfume</h2>
                        <div th:if="${not #lists.isEmpty(produseFemei)}">
                            <table class="table table-bordered text-center" style="border: 1px solid black;">
                                <thead>
                                <tr>
                                    <th class="text-center"><b>Name</b></th>
                                    <th class="text-center"><b>Price</b></th>
                                    <th class="text-center"><b>Add To Cart</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="pt-3-half" th:each="product : ${produseFemei}">
                                    <td class="pt-3-half" th:text="${product.name}"></td>
                                    <td class="pt-3-half" th:text="${product.price}"></td>
                                    <td><a class="btn btn-danger btn-rounded btn-sm my-0" th:href="@{'/cart/add/' + ${product.id}}">Add To Cart</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Of Women's Perfume -->

<br />
<div th:replace="fragments :: footer"></div>
<script>
$(document).ready(function(){
    $("#myCarousel").carousel({
        interval : 1700
    });
});
</script>
</body>

</html>