<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Online Shop - Order step 2')"></head>
<script href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
<link type="text/css" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.19.1.min.css"
      rel="stylesheet"/>

<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div th:replace="fragments :: orderStepHeader(step = 2)"></div>

            <div th:replace="fragments :: cart"></div>

            <div th:replace="fragments :: cartDelivery"></div>
            <br/>
            <hr>
            <div class="title" style="font-weight:bold">Contact Information</div>
            <hr>
            <div th:if="${@cartContainer.cart.fname != null}"><b>Full Name: </b>
                <span th:text="${@cartContainer.cart.fname}"></span></div>

            <div th:if="${@cartContainer.cart.deliveryAddress != null}"><b>Address: </b>
                <span th:text="${@cartContainer.cart.fname}"></span></div>

            <div th:if="${@cartContainer.cart.phone != null}"><b>Phone Number: </b>
                <span th:text="${@cartContainer.cart.phone}"></span></div>
        </div>
        <hr>
w
        <div th:if="${#request.userPrincipal == null}">
            <a class="btn btn-primary" th:href="@{/registration}" th:if="${#request.userPrincipal == null}">Register</a>
            <a class="btn btn-primary" th:href="@{/login}" th:if="${#request.userPrincipal == null}">Login</a>
        </div>

        <div th:if="${#request.userPrincipal != null}">
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="title" style="font-weight:bold">You are logged in as : <span
                            th:text="${#request.userPrincipal.name}"></span>
                    </div>
                    <form method="post" th:action="@{${flowExecutionUrl}}" th:object="${cart}">
                        <div class="row">
                            <div class="buttons" style="float: none; margin: 0 auto;">
                                <input class="btn btn-primary" type="submit" name="_eventId_continue" value="Submit"/>
                                <a class="btn btn-primary" th:href="@{/cart}">Back To Cart</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>